<div class="clearfix info">
  <a href={{reaction.post_user.userUrl}} data-user-card={{reaction.post_user.username}} class="avatar-link">
    {{avatar reaction.post_user imageSize="large" extraClasses="actor" ignoreTitle="true"}}
  </a>
  <span class="time">{{format-date reaction.created_at leaveAgo="true"}}</span>
  {{expand-post item=reaction.post}}

  <div class="stream-topic-details">
    <div class="stream-topic-title">
      <span class="title">
        <a href={{postUrl}}>{{html-safe reaction.topic.fancyTitle}}</a>
      </span>
    </div>
    <div class="group-post-category">{{category-link reaction.category}}</div>
  </div>
</div>

<div class="excerpt">
  {{#if reaction.post.expandedExcerpt}}
    {{html-safe reaction.post.expandedExcerpt}}
  {{else}}
    {{html-safe reaction.post.excerpt}}
  {{/if}}
</div>

{{#if reaction.reaction.reaction_users_count}}
  <div class="discourse-reactions-my-reaction">
    <img src={{emojiUrl}} class="reaction-emoji">
    <a href={{reaction.user.userUrl}} data-user-card={{reaction.user.username}} class="avatar-link">
      {{avatar reaction.user imageSize="tiny" extraClasses="actor" ignoreTitle="true"}}
    </a>
  </div>
{{/if}}
