<div class="clearfix info">
  <a href={{post.user.userUrl}} data-user-card={{post.user.username}} class="avatar-link">
    {{avatar post.user imageSize="large" extraClasses="actor" ignoreTitle="true"}}
  </a>
  <span class="time">{{format-date post.current_user_reaction.created_at leaveAgo="true"}}</span>
  {{expand-post item=post}}

  <div class="stream-topic-details">
    <div class="stream-topic-title">
      <span class="title">
        <a href={{postUrl}}>{{html-safe post.topic.fancyTitle}}</a>
      </span>
    </div>
    <div class="group-post-category">{{category-link post.category}}</div>
  </div>
</div>

<div class="excerpt">
  {{#if post.expandedExcerpt}}
    {{html-safe post.expandedExcerpt}}
  {{else}}
    {{html-safe post.excerpt}}
  {{/if}}
</div>

{{#if post.current_user_reaction.id}}
  <div class="discourse-reactions-your-reaction">
    <img src={{emojiUrl}} class="reaction-emoji">
    <a href={{currentUser.userUrl}} data-user-card={{currentUser.username}} class="avatar-link">
      {{avatar currentUserAvatar imageSize="tiny" extraClasses="actor" ignoreTitle="true"}}
    </a>
  </div>
{{/if}}
