{{#if collection}}
  <div class="values">
    {{#each collection as |data index|}}
      <div class="value" data-index={{index}}>
        {{#if data.isEditable}}
        {{d-button action=(action "removeValue")
                   actionParam=data
                   icon="times"
                   class="remove-value-btn btn-small"}}
          {{d-button action=(action "editValue")
                   actionParam=index
                   icon="pencil-alt"
                   class="edit-value-btn btn-small"}}
        {{/if}}

        {{#if data.isEditing}}
          {{input value=data.value class="value-input" focus-out=(action "changeValue" index)}}
        {{else}}
          <div class="value-input emoji-details">
            <span class="emoji-name">{{data.value}}</span>
            <img height="15px" width="15px" src={{data.emojiUrl}} class="emoji-list-emoji">
          </div>
        {{/if}}

        {{#if index}}
          {{d-button action=(action "shiftUp")
                   actionParam=index
                   icon="arrow-up"
                   class="shift-up-value-btn btn-small"}}
        {{/if}}

        {{#unless data.isLast}}
          {{d-button action=(action "shiftDown")
                   actionParam=index
                   icon="arrow-down"
                   class="shift-down-value-btn btn-small"}}
        {{/unless}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="value">
  {{text-field value=emojiName class="value-input emoji-name" placeholder=setting.placeholder.newEmoji}}
  {{d-button action=(action "addValue")
             icon="plus"
             class="add-value-btn btn-small"}}
</div>

{{setting-validation-message message=validationMessage}}
