<UserStreamItem
  @item={{hash
    username=@reaction.post_user.username
    name=@reaction.post_user.name
    avatar_template=@reaction.post_user.avatar_template
    created_at=@reaction.created_at
    postUrl=this.postUrl
    category=@reaction.category
    title=@reaction.topic.title
    expandedExcerpt=this.updatedExpandedExcerpt
    excerpt=this.updatedExcerpt
    topic_id=@reaction.topic_id
    post_id=@reaction.post_id
    user_id=@reaction.user_id
  }}
>
  <:bottom>
    {{#if @reaction.reaction.reaction_users_count}}
      <div class="discourse-reactions-my-reaction">
        <img src={{this.emojiUrl}} class="reaction-emoji" />
        <a
          href={{@reaction.user.userUrl}}
          data-user-card={{@reaction.user.username}}
          class="avatar-link"
        >
          {{avatar
            @reaction.user
            imageSize="tiny"
            extraClasses="actor"
            ignoreTitle="true"
          }}
        </a>
      </div>
    {{/if}}
  </:bottom>
</UserStreamItem>